/* Flexbox */

/* Horizontal */
/* justify-content */
/* flex-start, flex-end, center, space-between, space-around */

/* Horizontal (multiple lines, no effect if single line)*/
/* align-content */

/* Vertical (within container)*/
/* align-items or align-self*/
/* flex-start, flex-end, center, baseline, stretch */


/* Fliping */
/* flex-direction */
/* row, row-reverse, column, column-reverse */

/* order */
/* -1 , 0, 1, 2 */

/* Even Spread */
/* flexwrap */
/* wrap, nowrap, wrap-reverse */

/* Flipping + Even Spread */
/* flex-flow */
body {
    background-color: #04121f;
    display: flex;
    flex-direction: row;
    justify-content: center;

    
    /* border: 1px solid white;
     */
   
  
}

.left-box {
    /* Box */
    /* border: 1px solid white; */
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 40px;
    margin-left: 60px;
    align-items: center;
    /* Text Display */
    color: white;
    flex-wrap: wrap;
    overflow: scroll;
    /* Box adjustment */
    align-items: flex-start;

    
} 

.right-box {
    /* Box */
    /* border: 1px solid white; */
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 60px;
    margin-left: 40px;
    border-radius: 5%;
     /* Text Display */
     color: white;
     max-width: 100%;
     flex-wrap: wrap;
     overflow: scroll;
    /* Box adjustment */
    align-items: flex-end;
} 

.image {
    max-width:100%;
    max-height:100%;
}
